﻿@using static ORMBenchmarking.Models.Helpers.Enums;
@{
    ViewData["Title"] = "Sprawdź wydajność";
}
<section>
    <h2>Sprawdź wydajność zapytań bazodanowych</h2>
    <br />
    <h3>1. Wybierz zapytanie</h3>
    <form asp-action="ExecuteSelectedQuery">
        <select asp-items="Html.GetEnumSelectList<QueryType>()" name="queryType">
            <option selected="selected" value="">Wybierz zapytanie</option>
        </select>
        <button type="submit" class="btn btn-default">Wykonaj zapytanie!</button>
    </form>
</section>