﻿@{
    ViewData["Title"] = "Informacje";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <p>Aplikacja powstała na potrzeby pracy magisterskiej na Akademii Techniczno-Humanistycznej.</p>
    <p><strong>Temat pracy: </strong><i>"Analiza wydajności dostępu do danych przy wykorzystaniu wybranych narzędzi oraz bibliotek."</i> </p>
</div>

<address>
    <strong>Support:</strong> <a href="mailto:tz045870@student.ath.edu.pl">tz045870@student.ath.edu.pl</a><br />
</address>
