﻿@model ORMBenchmarking.Models.ViewModel.ExecutionTimeViewModel

@{
    ViewData["Title"] = "QueryTimeResult";
}

<h2>Query Execution Time</h2>

<div>
    <h4>@Model.QueryType.GetType().GetMember(Model.QueryType.ToString()).First().GetCustomAttributesData().First().NamedArguments.First().TypedValue.Value</h4>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <td></td>
                <td><strong>Entity Framework</strong></td>
                <td><strong>NHibernate</strong></td>
                <td><strong>Dapper</strong></td>
                <td><strong>ADO.NET</strong></td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.QueryExecutionTime.Values.FirstOrDefault().Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model.QueryExecutionTime.Where(x => x.Key == ORMBenchmarking.Models.Helpers.Enums.LibraryType.EntityFramework).Select(p => p.Value).First()[i]</td>
                    <td>@Model.QueryExecutionTime.Where(x => x.Key == ORMBenchmarking.Models.Helpers.Enums.LibraryType.NHibernate).Select(p => p.Value).First()[i]</td>
                    <td>@Model.QueryExecutionTime.Where(x => x.Key == ORMBenchmarking.Models.Helpers.Enums.LibraryType.Dapper).Select(p => p.Value).First()[i]</td>
                    <td>@Model.QueryExecutionTime.Where(x => x.Key == ORMBenchmarking.Models.Helpers.Enums.LibraryType.Adonet).Select(p => p.Value).First()[i]</td>
                </tr>
            }
            <tr>
                <td>Średnia</td>
                <td>@Model.QueryExecutionTime.Where(x => x.Key == ORMBenchmarking.Models.Helpers.Enums.LibraryType.EntityFramework).Select(x => x.Value.Average()).First()</td>
                <td>@Model.QueryExecutionTime.Where(x => x.Key == ORMBenchmarking.Models.Helpers.Enums.LibraryType.NHibernate).Select(x => x.Value.Average()).First()</td>
                <td>@Model.QueryExecutionTime.Where(x => x.Key == ORMBenchmarking.Models.Helpers.Enums.LibraryType.Dapper).Select(x => x.Value.Average()).First()</td>
                <td>@Model.QueryExecutionTime.Where(x => x.Key == ORMBenchmarking.Models.Helpers.Enums.LibraryType.Adonet).Select(x => x.Value.Average()).First()</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
